HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
**/.DS_Store
/bin/

data_dictionary/libs/**
data_dictionary/schema/**
.java-version

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### ADR ###
.adr-dir
