version: '3.1'

services:

  postgres:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    networks:
      - hmpps
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: dev
    tmpfs:
      - /var/lib/postgresql

  nomis-oauth2-server:
    image: mojdigitalstudio/nomis-oauth2-server:latest
    networks:
      - hmpps
    container_name: nomis-oauth2-server
    ports:
      - '8095:8080'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8080/auth/health']
    environment:
      - SPRING_PROFILES_ACTIVE=dev

#  community-api:
#    image: mojdigitalstudio/community-api:latest
#    networks:
#      - hmpps
#    container_name: community-api
#    ports:
#      - "8096:8080"
#    healthcheck:
#      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
#    environment:
#      - SERVER_PORT=8080
#      - SPRING_PROFILES_ACTIVE=dev

networks:
  hmpps:
