version: '3.3'

services:

  ccs:
    image: courtcaseservice
    build:
      context: .
      dockerfile: ./Dockerfile
    networks:
      - hmpps
    depends_on:
      - postgres
      - localstack-court-case-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/postgres?currentSchema=courtcaseservice&user=root&password=dev&stringtype=unspecified

  postgres:
    image: postgres:11.15-alpine
    ports:
      - "5432:5432"
    networks:
      - hmpps
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: dev
    tmpfs:
      - /var/lib/postgresql

  oauth:
    image: mojdigitalstudio/nomis-oauth2-server:latest
    networks:
      - hmpps
    container_name: oauth
    ports:
      - '8095:8095'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8095/auth/health']
    environment:
      - SERVER_PORT=8095
      - SPRING_PROFILES_ACTIVE=dev

  community-api:
    image: quay.io/hmpps/community-api:latest
    networks:
      - hmpps
    container_name: community-api
    ports:
      - "8096:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - DOCKER_HOST=unix:///var/run/docker.sock

  offender-assessment-api:
    image: mojdigitalstudio/offender-assessments-api:latest
    networks:
      - hmpps
    container_name: offender-assessment-api
    depends_on:
    - oauth
    ports:
      - "8097:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - OAUTH_ENDPOINT_URL=http://oauth:8095/auth

  localstack-court-case-service:
    image: localstack/localstack:latest
    networks:
      - hmpps
    container_name: localstack-court-case-service
    ports:
      - "4566-4597:4566-4597"
    environment:
      - SERVICES=sns,sqs
      - DEBUG=${DEBUG- }
      - PERSISTENCE=1
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
networks:
  hmpps:
