community-api:
  base-url: http://localhost:8096

spring:
  security:
    oauth2:
      client:
        registration:
          nomis-oauth-client:
            client-name: nomis-oauth-client
            client-id: community-api-client
            client-secret: ${nomis-oauth-client-secret:clientsecret}
            client-authentication-method: basic
            authorization-grant-type: client_credentials
        provider:
          nomis-oauth-client:
            token-uri: http://localhost:8095/auth/oauth/token