info:
  app:
    name: HMPPS Court Case Service
    version: 1.0

management:
  endpoints:
    web:
      exposure:
        include: health, info
      base-path: /
  endpoint:
    beans:
      cache:
        time-to-live: 10s
    health:
      show-details: always

database:
  schema:
    name: courtcaseservice

spring:
  application:
    name: court-case-service
  security:
    oauth2:
      client:
        registration:
          community-api-client:
            client-name: community-api-client
            client-id: ${community-api-client-id:community-api-client}
            client-secret: ${community-api-client-secret:clientsecret}
            client-authentication-method: basic
            authorization-grant-type: client_credentials
            provider: nomis-oauth-service
          offender-assessments-api-client:
            client-name: offender-assessments-api-client
            client-id: ${offender-assessments-api.client-id}
            client-secret: ${offender-assessments-api.client-secret}
            client-authentication-method: basic
            authorization-grant-type: client_credentials
            provider: nomis-oauth-service
          prison-api-client:
            client-name: prison-api-client
            client-id: ${prison-api-client-id:prison-api-client}
            client-secret: ${prison-api-client-secret:clientsecret}
            client-authentication-method: basic
            authorization-grant-type: client_credentials
            provider: nomis-oauth-service
        provider:
          nomis-oauth-service:
            token-uri: ${nomis-oauth.base-url}/auth/oauth/token
      resourceserver:
        jwt:
          issuer-uri: ${nomis-oauth.issuer-base-url:${nomis-oauth.base-url}}/auth/issuer

  datasource:
    url: jdbc:postgresql://${database.endpoint:localhost:5432}/${database.name:postgres}?currentSchema=${database.schema.name}&user=${database.username:root}&password=${database.password:dev}&stringtype=unspecified

  flyway:
    schemas: ${database.schema.name}
    locations: classpath:db/migration/courtcase
    enabled: true

  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    open-in-view: false

# Uncomment the following lines to generate create.sql on build
#      javax:
#        persistence:
#          schema-generation:
#            scripts:
#              create-target: create.sql
#              action: create
#              create-source: metadata

community-api:
  offender-by-crn-url-template: /secure/offenders/crn/%s
  offender-by-crn-all-url-template: /secure/offenders/crn/%s/all
  offender-managers-by-crn-url-template: /secure/offenders/crn/%s/allOffenderManagers
  convictions-by-crn-url-template: /secure/offenders/crn/%s/convictions
  conviction-by-crn-url-template: /secure/offenders/crn/%s/convictions/%s
  court-reports-by-crn-and-conviction-url-template: /secure/offenders/crn/%s/convictions/%s/courtReports
  attendances-by-crn-and-conviction-url-template: /secure/offenders/crn/%s/convictions/%s/attendancesFilter
  requirements-by-crn-url-template: /secure/offenders/crn/%s/convictions/%s/requirements
  registrations-by-crn-url-template: /secure/offenders/crn/%s/registrations
  pss-requirements-by-crn-and-conviction-url-template: /secure/offenders/crn/%s/convictions/%s/pssRequirements
  licence-conditions-by-crn-and-conviction-url-template: /secure/offenders/crn/%s/convictions/%s/licenceConditions
  grouped-documents-by-crn-url-template: /secure/offenders/crn/%s/documents/grouped
  offender-document-by-crn-url-template: /secure/offenders/crn/%s/documents/%s
  nsis-url-template: /secure/offenders/crn/%s/convictions/%s/nsis
  sentence-status-url-template: /secure/offenders/crn/%s/convictions/%s/sentenceStatus
  nsi-by-id-url-template: /secure/offenders/crn/%s/convictions/%s/nsis/%s
  court-appearances-by-crn-and-nsi-url-template: /secure/offenders/crn/%s/convictions/%s/courtAppearances
  probation-status-by-crn: /secure/offenders/crn/%s/probationStatus

  probation-record-filter.document.types: "COURT_REPORT_DOCUMENT"
  probation-record-filter.document.subtype.codes: "CJF,CJO,CJS,PSA,PSB,PSN,PSR,SSR,XPR,CR02,CR05"
  mandated-username-client-ids: "prepare-a-case-for-court"
  nsis-filter.codes.queryParameter: nsiCodes
  nsis-filter.codes.breaches: BRE,BRES
  offender-address-code: M
  sentence-appearance-code: S

offender-assessments-api:
  assessment-crn-url-template: /offenders/crn/%s/assessments/summary

prison-api:
  sentences-template: /api/offenders/%s/sentences

delius:
  contact-list-url-template: ${delius.base-url}/NDelius-war/delius/JSP/deeplink.jsp?component=ContactList&offenderId=%s&eventId=%s

health:
  default-ping-path: /ping

web:
  client:
    connect-timeout-ms: 20000
    read-timeout-ms: 5000
    write-timeout-ms: 5000
    document-byte-buffer-size: 20971520

hibernate:
  types:
    print:
      banner: false

offender-service:
  pss-rqmnt:
    # Comma-separated, all lower case
    descriptions-to-keep-subtype: "specified activity"
  assessment:
    # Comma-separated, all upper case
    included-statuses: "COMPLETE"
  psr-report-codes: "CJF,CJO,CJS,PSR"

feature:
  flags:
    enable-cacheable-case-list: true

ingress:
  url: "localhost"

hmpps:
  sqs:
    queueAdminRole: COURT_CASE_SERVICE_QUEUE_ADMIN
