feature:
  flags:
    disable-auth: false
    fetch-sentence-data: true

community-api:
  base-url: http://localhost:8096

offender-assessments-api:
  base-url: http://localhost:8097
  client-id: sentence-plan-api-client
  client-secret: clientsecret

nomis-oauth:
  base-url: https://sign-in-dev.hmpps.service.justice.gov.uk

delius:
  base-url: https://ndelius.test.probation.service.justice.gov.uk

prison-api:
  base-url: https://api-dev.prison.service.justice.gov.uk

manage-offences-api:
  base-url: https://manage-offences-api-dev.hmpps.service.justice.gov.uk/

spring:
  flyway:
    defaultSchema: ${database.schema.name}
    locations: classpath:db/migration/courtcase
  jpa:
    show-sql: true


hmpps.sqs:
  provider: localstack
  queues:
    picprobationoffendereventsqueue:
      queueName: pic_probation_offender_events_queue
      subscribeTopicId: probationoffenderevents
      subscribeFilter: '{"eventType":[ "SENTENCE_CHANGED", "CONVICTION_CHANGED"] }'
    emittedeventsqueue:
      queueName: emitted_events_queue
      subscribeTopicId: hmppsdomainevents
      subscribeFilter: '{"eventType":[ "court.case.sentenced"] }'
  topics:
    hmppsdomainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}
    probationoffenderevents:
      arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}

