feature-flags:
  community-api-test-endpoint: false

info:
  app:
    name: HMPPS Court Case Service
    version: 1.0

management:
  endpoints:
    web:
      exposure:
        include: health, info
      base-path: /
  endpoint:
    beans:
      cache:
        time-to-live: 10s
    health:
      show-details: always

spring:
  security:
    oauth2:
      client:
        registration:
          nomis-oauth-client:
            client-name: nomis-oauth-client
            client-id: community-api-client
            client-secret: ${nomis-oauth-client-secret:clientsecret}
            client-authentication-method: basic
            authorization-grant-type: client_credentials
        provider:
          nomis-oauth-client:
            token-uri: http://localhost:8095/auth/oauth/token

  datasource:
    url: jdbc:postgresql://${database.endpoint:localhost:5432}/${database.name:postgres}?currentSchema=${database.schema.name:courtcaseservice}&user=${database.username:root}&password=${database.password:dev}&stringtype=unspecified

  flyway:
    schemas: ${database.schema.name}
    locations: classpath:db/migration/courtcase
    enabled: true

  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true

