info:
  app:
    name: HMPPS Court Case Service
    version: 1.0

management:
  endpoints:
    web:
      exposure:
        include: health, info
      base-path: /
  endpoint:
    beans:
      cache:
        time-to-live: 10s
    health:
      show-details: always

database:
  schema:
    name: courtcaseservice

spring:
  security:
    oauth2:
      client:
        registration:
          community-api-client:
            client-name: community-api-client
            client-id: ${community-api-client-id:community-api-client}
            client-secret: ${community-api-client-secret:clientsecret}
            client-authentication-method: basic
            authorization-grant-type: client_credentials
            provider: nomis-oauth-service
          offender-assessments-api-client:
            client-name: offender-assessments-api-client
            client-id: ${offender-assessments-api.client-id}
            client-secret: ${offender-assessments-api.client-secret}
            client-authentication-method: basic
            authorization-grant-type: client_credentials
            provider: nomis-oauth-service
        provider:
          nomis-oauth-service:
            token-uri: ${nomis-oauth.base-url:http://oauth:8095}/auth/oauth/token

  datasource:
    url: jdbc:postgresql://${database.endpoint:localhost:5432}/${database.name:postgres}?currentSchema=${database.schema.name}&user=${database.username:root}&password=${database.password:dev}&stringtype=unspecified

  flyway:
    schemas: ${database.schema.name}
    locations: classpath:db/migration/courtcase
    enabled: true

  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true

community-api:
  offender-by-crn-url-template: /secure/offenders/crn/%s/all
  convictions-by-crn-url-template: /secure/offenders/crn/%s/convictions
  conviction-by-crn-url-template: /secure/offenders/crn/%s/convictions/%s
  attendances-by-crn-and-conviction-url-template: /secure/offenders/crn/%s/convictions/%s/attendances
  requirements-by-crn-url-template: /secure/offenders/crn/%s/convictions/%s/requirements
  grouped-documents-by-crn-url-template: /secure/offenders/crn/%s/documents/grouped
  nsis-url-template: /secure/offenders/crn/%s/convictions/%s/nsis
  nsi-by-id-url-template: "/secure/offenders/crn/%s/convictions/%s/nsis/%s"

  probation-record-filter.document.types: "COURT_REPORT_DOCUMENT"
  probation-record-filter.document.subtype.codes: "CJF,CJO,CJS,PSA,PSB,PSN,PSR,SSR,XPR,CR02,CR05"
  nsis-filter.codes.queryParameter: nsiCodes
  nsis-filter.codes.breaches: BRE,BRES

offender-assessments-api:
  latest-assessment-crn-url-template: /offenders/crn/%s/assessments/latest
