version: 2.1

parameters:
  only_pacts:
    type: boolean
    default: false
  pact_consumer_tags:
    type: string
    default: main

commands:
  setup-live:
    description: "Install tools and configure kubectl"
    steps:
      - aws-cli/install
      - kubernetes/install
      - helm/install-helm-client:
          version: v3.2.4
      - run:
          name: Setup kubectl
          command: |
            echo -n "${KUBE_ENV_CACERT}" | base64 -d > /tmp/cluster_ca.crt
            kubectl config set-cluster "${KUBE_ENV_NAME}" \
              --certificate-authority="/tmp/cluster_ca.crt" \
              --server="https://${KUBE_ENV_NAME}"
            kubectl config set-credentials circleci \
              --token="${KUBE_ENV_TOKEN}"
            kubectl config set-context circleci \
              --cluster="${KUBE_ENV_NAME}" \
              --user="circleci" \
              --namespace="${KUBE_ENV_NAMESPACE}"
            # confirm setup is ok
            kubectl config use-context circleci
            kubectl -n "${KUBE_ENV_NAMESPACE}" get pods

  set_app_version:
    description: "Set app version string"
    steps:
      - run:
          name: create app version string
          command: |
            jar xvf build/libs/court-case-service-*.jar BOOT-INF/classes/META-INF/build-info.properties
            VERSION=$(grep 'build.version=' BOOT-INF/classes/META-INF/build-info.properties | awk -F= '{print $2}')
            rm BOOT-INF/classes/META-INF/build-info.properties
            SHORT_HASH=$(git rev-parse --short HEAD)
            FULL_VERSION=${VERSION}.${SHORT_HASH}
            if [[ "${CIRCLE_BRANCH}" == "main" ]]; then
              FULL_VERSION=${VERSION}
            fi
            echo "export APP_VERSION=$FULL_VERSION" >> $BASH_ENV
      - mem/remember:
          env_var: APP_VERSION
          value: "${APP_VERSION}"
  deploy_to_live_env:
    parameters:
      env:
        type: string
    steps:
      - setup-live
      - checkout:
          path: ~/git
      - attach_workspace:
          at: ~/app
      - mem/recall:
          env_var: APP_VERSION
      - deploy:
          name: Deploy to << parameters.env >>
          command: |
            helm upgrade court-case-service ~/git/helm_deploy/court-case-service/. \
              --install --wait --reset-values --timeout 360s \
              --namespace=${KUBE_ENV_NAMESPACE} \
              --description="${APP_VERSION} - ${CIRCLE_BUILD_URL}" \
              --values ~/git/helm_deploy/values-<< parameters.env >>.yaml \
              --values - \
              --values ~/git/helm_deploy/court-case-service/values-live.yaml \
              --set image.tag="${APP_VERSION}" \
              --set nginx_proxy.deployment.image.tag="${APP_VERSION}"
executors:
  deployer:
    docker:
      - image: circleci/python:3
    working_directory: ~/app
  builder:
    docker:
      - image: circleci/openjdk:16-jdk-buster-browsers
        environment:
          SPRING_PROFILES_ACTIVE: test
          DATABASE_USERNAME: root
          DATABASE_PASSWORD: dev
          DATABASE_NAME: court_case_test
          DATABASE_ENDPOINT: 127.0.0.1:5432
      - image: circleci/postgres:11.6-alpine-ram
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: court_case_test
          POSTGRES_PASSWORD: dev
    working_directory: ~/app

orbs:
  aws-cli: circleci/aws-cli@0.1.13
  hmpps: ministryofjustice/hmpps@3.11.10
  kubernetes: circleci/kubernetes@0.3.0
  helm: circleci/helm@1.1.2
  mem: circleci/rememborb@0.0.1
  snyk: snyk/snyk@0.0.12
  jira: circleci/jira@1.2.2

_snyk_options: &snyk_options
  organization: "digital-probation-services"
  severity-threshold: "high" # note: this does not affect snyk 'monitor' commands
  fail-on-issues: true
  additional-arguments: "--policy-path=.snyk"

jobs:
  build:
    executor: builder
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle" }}
            - gradle-
      - run: ./gradlew build jacocoTestReport
      - set_app_version
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle" }}
      - store_test_results:
          path: build/test-results
      - store_artifacts:
          path: build/reports/tests
      - persist_to_workspace:
          root: .
          paths:
            - build/libs
            - build.gradle
      - jira/notify:
          token_name: JIRA_CIRCLE_TOKEN
          job_type: build

  pact-consumer-publish:
    executor: builder
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle" }}
            - gradle-
      - run: PACTCONSUMER_VERSION=main ./gradlew -Dpact.writer.overwrite=true test pactPublish

  build_docker:
    executor: deployer
    parameters:
      main:
        type: boolean
        default: false
      app_name:
        type: string
      dockerfile_path:
        type: string
        default: .
    steps:
      - checkout
      - attach_workspace:
          at: ~/app
      - setup_remote_docker:
          docker_layer_caching: true
      - mem/recall:
          env_var: APP_VERSION
      - run:
          name: Build docker image
          command: |
            docker build --rm=false <<parameters.dockerfile_path>> \
               --pull \
               --tag "mojdigitalstudio/<<parameters.app_name>>:$APP_VERSION" \
               --label "maintainer=info@digital.justice.gov.uk" \
               --label "app.version=$APP_VERSION" \
               --label "build.version=$APP_VERSION" \
               --label "build.number=$CIRCLE_BUILD_NUM" \
               --label "build.url=$CIRCLE_BUILD_URL" \
               --label "build.gitref=$CIRCLE_SHA1"
      - snyk/scan:
          project: '${CIRCLE_PROJECT_REPONAME}-docker/${CIRCLE_BRANCH}'
          docker-image-name: 'mojdigitalstudio/<<parameters.app_name>>:$APP_VERSION'
          target-file: '<<parameters.dockerfile_path>>/Dockerfile'
          monitor-on-build: << parameters.main >>
          <<: *snyk_options
      - when:
          condition: << parameters.main >>
          steps:
            - run:
                name: Publish to docker hub
                command: |
                  docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
                  docker tag mojdigitalstudio/<<parameters.app_name>>:$APP_VERSION mojdigitalstudio/<<parameters.app_name>>:latest
                  docker push mojdigitalstudio/<<parameters.app_name>>:$APP_VERSION
                  docker push mojdigitalstudio/<<parameters.app_name>>:latest
      - jira/notify:
          token_name: JIRA_CIRCLE_TOKEN
          job_type: build

  pact_check_and_publish:
    parameters:
      pact_consumer_tags:
        type: string
    environment:
      PACTBROKER_HOST: "pact-broker-prod.apps.live-1.cloud-platform.service.justice.gov.uk"
    executor: builder
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle" }}
            - gradle-
      - run:
          command: |
            PACT_PROVIDER_VERSION="$CIRCLE_SHA1" \
              PACT_PROVIDER_TAG="$CIRCLE_BRANCH" \
              PACTBROKER_CONSUMERVERSIONSELECTORS_TAGS="<< parameters.pact_consumer_tags >>" \
              PACT_PUBLISH_RESULTS="true" \
              SPRING_PROFILES_ACTIVE="unsecured" \
              ./gradlew pactTestPublish
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle" }}
      - store_test_results:
          path: build/test-results
      - store_artifacts:
          path: build/reports/tests

  app_scan:
    executor: builder
    parameters:
      main:
        type: boolean
        default: false
    steps:
      - checkout
      - snyk/scan:
          project: '${CIRCLE_PROJECT_REPONAME}/${CIRCLE_BRANCH}'
          monitor-on-build: << parameters.main >>
          <<: *snyk_options

  image_scan:
    executor: deployer
    parameters:
      image_name:
        type: string
      dockerfile:
        type: string
        default: Dockerfile
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - snyk/scan:
          project: '${CIRCLE_PROJECT_REPONAME}-docker/${CIRCLE_BRANCH}'
          docker-image-name: 'mojdigitalstudio/<<parameters.image_name>>:latest'
          target-file: '<<parameters.dockerfile>>'
          monitor-on-build: true
          <<: *snyk_options

  deploy_dev:
    executor: deployer
    steps:
      - deploy_to_live_env:
          env: "dev"
      - jira/notify:
          environment: dev
          environment_type: development
          token_name: JIRA_CIRCLE_TOKEN
          job_type: deployment
  deploy_preprod:
    executor: deployer
    steps:
      - deploy_to_live_env:
          env: "preprod"
      - jira/notify:
          environment: preprod
          environment_type: testing
          token_name: JIRA_CIRCLE_TOKEN
          job_type: deployment
  deploy_prod:
    executor: deployer
    steps:
      - deploy_to_live_env:
          env: "prod"
      - jira/notify:
          environment: prod
          environment_type: production
          token_name: JIRA_CIRCLE_TOKEN
          job_type: deployment

workflows:
  version: 2
  scheduled:
    triggers:
      - schedule:
          cron: "0 7 * * 1-5"
          filters:
            branches:
              only:
                - main
    jobs:
      - build:
          filters:
            tags:
              ignore: /.*/
      - app_scan:
          main: true
      - image_scan:
          name: court-case-service-scan
          image_name: court-case-service
      - image_scan:
          name: court-case-service-scan-nginx
          image_name: court-case-service-nginx
          dockerfile: ./nginx/Dockerfile
  build-test-and-deploy:
    unless: << pipeline.parameters.only_pacts >>
    jobs:
      - app_scan:
          filters:
            branches:
              ignore: main
      - app_scan:
          name: app_scan_main
          filters:
            branches:
              only: main
          main: true
      - build:
          filters:
            tags:
              ignore: /.*/
      - pact-consumer-publish:
          requires:
            - build
          filters:
            branches:
              only: main
      - hmpps/helm_lint:
          name: helm_lint_dev
      # - build_docker:
      #     app_name: court-case-service
      #     requires:
      #       - build
      #     filters:
      #       branches:
      #         ignore: main
      - build_docker:
          name: build_docker_main
          app_name: court-case-service
          requires:
            - build
          # filters:
          #   branches:
          #     only: main
          main: true
      # - build_docker:
      #     name: build_docker_nginx
      #     app_name: court-case-service-nginx
      #     dockerfile_path: ./nginx
      #     requires:
      #       - build
      #     filters:
      #       branches:
      #         ignore: main
      - build_docker:
          name: build_docker_nginx_main
          app_name: court-case-service-nginx
          dockerfile_path: ./nginx
          requires:
            - build
          main: true
          # filters:
          #   branches:
          #     only: main
      - deploy_dev:
          context: court-probation-live-dev
          requires:
            - helm_lint_dev
            - build_docker_main
            - build_docker_nginx_main
          # filters:
          #   branches:
          #     only: main
      - request_preprod_approval:
          type: approval
          requires:
            - deploy_dev
      - deploy_preprod:
          context: court-probation-live-preprod
          requires:
            - request_preprod_approval
      - request_prod_approval:
          type: approval
          requires:
            - deploy_preprod
      - deploy_prod:
          context: court-probation-live-prod
          requires:
            - request_prod_approval

  pact:
    jobs:
      - pact_check_and_publish:
          pact_consumer_tags: << pipeline.parameters.pact_consumer_tags >>
