apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-dictionary
  labels:
    app: {{ .Values.data_dictionary.name }}
    chart: {{ template "app.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Values.data_dictionary.name }}
        release: {{ .Release.Name }}
    spec:
      securityContext:
        runAsUser: 101
      containers:
        - name: data-dictionary
          image: "{{ .Values.data_dictionary.deployment.image.repository }}:{{ .Values.data_dictionary.deployment.image.tag }}"
          ports:
            - containerPort: {{ .Values.data_dictionary.deployment.port }}
