
server {
    listen       8081;
    listen  [::]:8081;
    server_name  localhost;

    add_header X-Cache-Status $upstream_cache_status;

    location / {
        proxy_cache_revalidate on;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
