# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

minReplicaCount: 2
maxReplicaCount: 8
maxSurge: 2

image:
  repository: docker.io/mojdigitalstudio/court-case-service
  tag: latest
  pullPolicy: Always
  port: 8080

ingress:
  service: court-case-service-proxy
  enabled: true
  enable_whitelist: true
  hosts:
    - host: court-case-service-preprod.apps.live-1.cloud-platform.service.justice.gov.uk
  path: /

nginx_proxy:
  name: court-case-service-proxy
  service_host: http://court-case-service.court-probation-preprod
  replicaCount: 1

  service:
    port:
      http: 80

  deployment:
    image:
      repository: docker.io/mojdigitalstudio/court-case-service-nginx
      tag: latest
      pullPolicy: Always
    port: 8080

env:
  JAVA_OPTS: "-Xmx512m"
  community_api:
    base_url: https://community-api-secure.pre-prod.delius.probation.hmpps.dsd.io
  nomis_oauth:
    base_url: https://sign-in-preprod.hmpps.service.justice.gov.uk
  offender_assessments_api:
    base_url: https://offender-prprod.aks-live-1.studio-hosting.service.justice.gov.uk/
  delius:
    base_url: https://ndelius.stage.probation.service.justice.gov.uk
  prison_api:
    base_url: https://api-preprod.prison.service.justice.gov.uk

spring:
  profile: instrumented

whitelist:
  office: "217.33.148.210/32"
  health-kick: "35.177.252.195/32"
  mojvpn: "81.134.202.29/32"
  cloudplatform-live1-1: "35.178.209.113/32"
  cloudplatform-live1-2: "3.8.51.207/32"
  cloudplatform-live1-3: "35.177.252.54/32"

resources:
  cpu:
    limit: 5000m
    request: 500m
  memory:
    limit: 1200Mi
    request: 700Mi
